.speech{
    font-size:11px;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
.stage-direction{
    font-size:11px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: rgb(143, 137, 150);
}
.stage-direction:hover{
    background-color: cadetblue;
    color: cyan;
}
.name{
    font-size:11px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.Cecil_Graham{
    color: darkorange;
}
.Cecil_Graham:hover{
    text-shadow: 2px 2px red;
    border: 1p solid blue;

}
.Mr-Dumby{color: darkorchid;}
.Mr-Dumby:hover{
    text-shadow: 2px 2px red;
    border: 1p solid blue;
}
.Parker{
    color:oldlace;
}
.Mr-Cecil-Graham{
    color: palevioletred;
}
table, th, td {
    border: 1px solid black;
  }
  td {
    padding: 5px;
    margin: 2px 2px 2px 2px;
    text-align: center;   
  } 
  th {
    padding: 5px;
    margin: 2px 2px 2px 2px;
    text-align: center;
  } 
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

ul{	
	top: 80%;
	left: 50%;	
	margin: 0;
	padding: 20px 0; 
	background: #fff; 
	display: flex;
	border-radius: 2px;
	box-shadow: 0 5px 5px rgba(0,0,0,.3)
}
  ul li{
	list-style: none;
	text-align: center;
	display: block;	
}
ul li:last-child{
	border-right: none;
}
ul li a{
	text-decoration: none;
	padding: 0 50px;
	display: block;
}

ul li a .name{
	position: relative;
	height: 20px; 
	width: 100%;
	display: block;
	overflow: hidden;
}

ul li a .name span{
	display: block;
	position: relative;
	color: #000;
	font-size: 18px; 
	line-height: 20px;
	transition: 0.5s; 
	
}
.icon-play {
    position: absolute;
    width: 100px;
    height: 100px;
    border: solid 2px blue
    border-radius: 100px;
    top: 50px;
    left: 50px;
    }